*{
   padding: 0 auto;
   margin: 0 auto;

}



#contenedor{
 width:1200;
 height:1000px;
 background-color: red;
max-width: 0 auto;
padding-left: 10%;
padding-right: 10%;
padding-top: 10%;
padding-bottom: 10%;
box-shadow: 5%;
}
#encabezado{
 text-align: center;
 height: 10%; 
 width: 25%;  
 background-color: rgb(226, 5, 5);
 margin: 1em auto;
}

#menu{
    
    height: 5%;
    background-color: red;
    margin: 1em auto;
}
#menu2{
    
  height: 5%;
  background-color: green;
  margin: 1em auto;
}
#seccion{
 width:45%;
 height: 80%;
 background-color: blue;
  margin: 0.5em;  
float: left;
}



#fueraseccion{
height: 80%;
width: 45%;
background-color: green;
margin: 0.5rem;
float: right;

}

#pie{
height: 5%;
background-color: aqua;
border-radius: 1rem;
margin: 1.5em;


}
/*selector clase*/
.text{
    text-align: justify;
    font-family: Verdana;
   font-size: medium;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 15px;
}

.encabezado_articulo{
text-align: center;
background: #333;
color:white ;
margin-top: 30px;
margin: auto 2em;

}

.imagenes{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    width: 350px;


}

/* selector etiqueta */
ul{
 text-align: center;


}
li{

  display: inline;
  padding-left: 6px;
  padding-right: 6px;
  
}
.pie{
  margin-top: 85%;

}